@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-bg: #fdf7fa;
    --color-text: #121212;
    --color-footer-text: #374151;
    --color-sakura: #F5BABB;
    --color-matcha: #5aa89c;
    --color-forest: #2C6D63;
    --color-rose: #f3dfe0;

    --font-heading: 'Noto Sans JP', sans-serif;
    --font-body: 'Inter', sans-serif;
}

.dark {
    --color-bg: #121212;
    --color-text: #fdf7fa;
    --color-footer-text: #6b7280;
    --color-sakura: #F5BABB;
    --color-matcha: #5aa89c;
    --color-forest: #2C6D63;
    --color-rose: #f3dfe0;
}